.u-section-product .u-sheet-1 {
  min-height: 950px;
}

.u-section-product .u-text-1 {
  font-size: 3.75rem;
  margin: 234px 115px 0 700px;
  color: #242f51 !important;

}

.u-section-product .u-icon-1 {
  height: 25px;
  width: 25px;
  margin: 19px 255px 0 auto;
}

.u-section-product .u-icon-2 {
  height: 25px;
  width: 25px;
  margin: -25px 415px 0 auto;
}

.u-section-product .u-icon-3 {
  height: 25px;
  width: 25px;
  margin: -25px 375px 0 auto;
}

.u-section-product .u-icon-4 {
  height: 25px;
  width: 25px;
  margin: -25px 335px 0 auto;
}

.u-section-product .u-icon-5 {
  height: 25px;
  width: 25px;
  margin: -25px 295px 0 auto;
}

.u-section-product .u-image-1 {
  width: 221px;
  height: 397px;
  margin: -140px auto 0 121px;
}

.u-section-product .u-text-2 {
  margin: -225px 79px 0 701px;
}

.u-section-product .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 57px 79px 0 auto;
  padding: 8px 33px;
}

.u-section-product .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -40px 356px 0 auto;
  padding: 8px 38px;
}

.u-section-product .u-image-2 {
  width: 384px;
  height: 65px;
  margin: 32px 56px 0 auto;
}

.u-section-product .u-icon-6 {
  height: 35px;
  width: 35px;
  margin: -86px auto 0 102px;
}

.u-section-product .u-icon-7 {
  height: 35px;
  width: 35px;
  background-image: none;
  margin: -35px auto 0 173px;
}

.u-section-product .u-icon-8 {
  height: 35px;
  width: 35px;
  margin: -35px auto 0 244px;
}

.u-section-product .u-icon-9 {
  height: 35px;
  width: 35px;
  margin: -35px auto 60px 315px;
}

@media (max-width: 1199px) {
  .u-section-product .u-sheet-1 {
    min-height: 1342px;
  }

  .u-section-product .u-text-1 {
    width: auto;
    margin-top: 116px;
    margin-right: 73px;
    margin-left: 542px;
  }

  .u-section-product .u-icon-1 {
    margin-top: 0;
    margin-right: 297px;
  }

  .u-section-product .u-icon-2 {
    margin-right: 259px;
  }

  .u-section-product .u-icon-3 {
    margin-right: auto;
    margin-left: 542px;
  }

  .u-section-product .u-icon-5 {
    margin-right: 221px;
  }

  .u-section-product .u-image-1 {
    margin-top: -75px;
    margin-right: 643px;
    margin-left: auto;
  }

  .u-section-product .u-text-2 {
    width: auto;
    margin-top: -253px;
    margin-right: 38px;
    margin-left: 542px;
  }

  .u-section-product .u-btn-1 {
    margin-top: 89px;
    margin-right: 52px;
  }

  .u-section-product .u-btn-2 {
    margin-right: auto;
    margin-left: 542px;
  }

  .u-section-product .u-image-2 {
    margin-top: 17px;
    margin-right: auto;
    margin-left: 542px;
  }

  .u-section-product .u-icon-6 {
    margin-top: -82px;
    margin-left: 49px;
  }

  .u-section-product .u-icon-7 {
    margin-left: 120px;
  }

  .u-section-product .u-icon-8 {
    margin-left: 191px;
  }

  .u-section-product .u-icon-9 {
    margin-right: 643px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-product .u-sheet-1 {
    min-height: 1482px;
  }

  .u-section-product .u-text-1 {
    margin-top: 173px;
    margin-right: 66px;
    margin-left: 329px;
  }

  .u-section-product .u-icon-1 {
    margin-top: 7px;
    margin-right: 286px;
  }

  .u-section-product .u-icon-2 {
    margin-right: 246px;
  }

  .u-section-product .u-icon-3 {
    margin-right: 206px;
    margin-left: auto;
  }

  .u-section-product .u-icon-4 {
    margin-right: auto;
    margin-left: 329px;
  }

  .u-section-product .u-icon-5 {
    margin-right: 326px;
  }

  .u-section-product .u-image-1 {
    margin-top: -106px;
    margin-right: auto;
    margin-left: 27px;
  }

  .u-section-product .u-text-2 {
    margin-top: -182px;
    margin-right: 73px;
    margin-left: 336px;
  }

  .u-section-product .u-btn-1 {
    margin-top: 63px;
    margin-right: 31px;
  }

  .u-section-product .u-btn-2 {
    margin-left: 329px;
  }

  .u-section-product .u-image-2 {
    margin-top: 15px;
    margin-left: 329px;
  }

  .u-section-product .u-icon-6 {
    margin-top: -155px;
    margin-left: 15px;
  }

  .u-section-product .u-icon-7 {
    margin-left: 86px;
  }

  .u-section-product .u-icon-8 {
    margin-left: 157px;
  }

  .u-section-product .u-icon-9 {
    margin-right: auto;
    margin-left: 226px;
  }
}

@media (max-width: 767px) {
  .u-section-product .u-text-1 {
    width: 325px;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-product .u-icon-1 {
    margin-top: 62px;
    margin-right: 169px;
  }

  .u-section-product .u-icon-2 {
    margin-right: 132px;
  }

  .u-section-product .u-icon-3 {
    margin-right: 93px;
  }

  .u-section-product .u-icon-4 {
    margin-right: 56px;
    margin-left: auto;
  }

  .u-section-product .u-icon-5 {
    margin-left: 305px;
  }

  .u-section-product .u-image-1 {
    margin-top: -43px;
    margin-left: 20px;
  }

  .u-section-product .u-text-2 {
    margin-top: -309px;
    margin-right: 20px;
    margin-left: 305px;
  }

  .u-section-product .u-btn-1 {
    margin-top: 203px;
    margin-right: auto;
    margin-left: 305px;
  }

  .u-section-product .u-btn-2 {
    margin-left: 62px;
  }

  .u-section-product .u-image-2 {
    margin-top: 44px;
    margin-left: auto;
  }

  .u-section-product .u-icon-6 {
    margin-top: -254px;
    margin-left: 0;
  }

  .u-section-product .u-icon-7 {
    margin-left: 71px;
  }

  .u-section-product .u-icon-8 {
    margin-left: 142px;
  }

  .u-section-product .u-icon-9 {
    margin-left: 211px;
  }
}

@media (max-width: 575px) {
  .u-section-product .u-sheet-1 {
    min-height: 1475px;
  }

  .u-section-product .u-text-1 {
    width: auto;
    margin-top: 21px;
    margin-right: 0;
    margin-left: 15px;
  }

  .u-section-product .u-icon-1 {
    margin-top: 9px;
    margin-left: 81px;
  }

  .u-section-product .u-icon-2 {
    margin-left: 120px;
  }

  .u-section-product .u-icon-3 {
    margin-left: 156px;
  }

  .u-section-product .u-icon-4 {
    margin-right: 120px;
  }

  .u-section-product .u-icon-5 {
    margin-right: 315px;
    margin-left: 235px;
  }

  .u-section-product .u-image-1 {
    margin-top: 22px;
    margin-left: auto;
  }

  .u-section-product .u-text-2 {
    width: 257px;
    margin-top: 109px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-product .u-btn-1 {
    margin-top: 42px;
    margin-right: 15px;
    margin-left: auto;
  }

  .u-section-product .u-btn-2 {
    margin-left: 15px;
  }

  .u-section-product .u-image-2 {
    height: 58px;
    margin-top: 41px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-product .u-icon-6 {
    margin-top: -481px;
    margin-left: 36px;
  }

  .u-section-product .u-icon-7 {
    margin-left: 104px;
  }

  .u-section-product .u-icon-8 {
    margin-left: 170px;
  }

  .u-section-product .u-icon-9 {
    margin-right: 67px;
    margin-left: auto;
  }
}